<!-- 

built by mikey gough: https://twitter.com/itmemikeyg
modeled entirely off www.itischristmas.com
huge thanks to eric mill for the idea: https://twitter.com/konklone
huge thanks to brian yu for help with implementation: https://twitter.com/brianyu28?lang=en
thank you NYSE for the holiday calendar!

-->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Is the Stock Market Open?</title>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>

</html>

